<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar
    [showCancelButton]="shouldShowCancel"
    [(ngModel)]="term"
    required>
  </ion-searchbar>

  <ion-button class="sort" clear item-end (click)="sort()">Sort by Price
    <ion-icon style=" font-size: 25px;" name="arrow-round-up"></ion-icon>
    <ion-icon style=" font-size: 25px;" name="arrow-round-down"></ion-icon>
  </ion-button>

  <ion-list>

  <ion-card *ngFor="let product of products | filter:term | sort: {property: column, order: order}">
    <ion-img 
      [src]="product.imagePath"
      alt="{{ product.imagePath }}"></ion-img>
    <ion-card-header>
        <ion-card-title>{{ product.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <h2>{{ product.price }} UAH</h2>
        <p>{{ product.description }}</p>
    </ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button clear item-end (click)="addToFavourites(product)">
            <ion-icon style=" font-size: 20px;" name="heart"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button clear item-end (click)="addToCart(product)">
            <ion-icon style=" font-size: 20px;" name="cart"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-card>

</ion-list>

